<%= simple_form_for(@question_catagory) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :question %>
    <%= f.association :report %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
