<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @question_catagory.question %>
</p>

<p>
  <strong>Report:</strong>
  <%= @question_catagory.report %>
</p>

<%= link_to 'Edit', edit_question_catagory_path(@question_catagory) %> |
<%= link_to 'Back', question_catagories_path %>
